body {
    padding: 20px 0;
}

.flash-message {
    margin-top: 20px;
}

.dropdown-menu > .disabled{
 cursor: not-allowed; 
}

/* The real magic ;) */
.dropdown-menu > .disabled > a{
 pointer-events: none;
}