  .axis path,
  .axis line{
    fill: none;
    stroke: black;
  }

  path.line{
    fill: none;
    stroke: black;
    stroke-width: 1px;
  }

  .tick text{
    font-size: 0px;
  }

  .tick line{
    opacity: 0.05;
  }

  .circle{
    opacity: 0.8 ;
  }