<div class="form-container">
    <form method="post" class = "bs-example bs-example-form">
        <div class="form-group input-group-lg">
            <label for="moods">
            	<h1>
				{{vm.user.username}}, how do you feel? (Adjectives separated by comma)
				</h1>
            </label>
            <input type="text" id="moods" class="form-control" ng-model="vm.user.moods" required />
        </div>
        
        <div class="form-group">
        <a ui-sref="next">
            <button class="btn btn-primary btnNext" ng-click="vm.updt()">Next</button>
        </a>
        </div>
    </form>
</div>