<div class="form-container container-fluid">
    <form name= "myForm" method="post" class = "bs-example bs-example-form">
        <div class="form-group input-group-lg">
            <label for="moods">
            	<h1>
				{{vm.user.username}}, how do you feel? (Adjectives separated by comma)
				</h1>
            </label>
            <input type="text" id="moods" class="form-control" ng-model="vm.user.moods" required />
            <br>
            <a ui-sref="next">
                <button class="btn btn-primary btnNext" ng-click="vm.updt()" ng-disabled="myForm.$invalid">Next</button>
            </a>
        </div>
    </form>
</div>